/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Poppins, sans-serif;
    background: #f4e9d8;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #4b2e2e;
    color: white;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
#home {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("hero-coffee.jpg");  /* FIXED */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-btn {
    background: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 40px;
    text-align: center;
}

/* MENU */
.menu-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item {
    width: 250px;
}

.menu-item img {
    width: 100%;
}

/* CONTACT */
input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

/* ORDER FIX */
#order {
    background: #4b2e2e;
    color: white;
    padding: 80px 20px;
}
